# Configuración del Backend
DATABASE_URL="postgresql://user:password@localhost:5432/burgersosa?schema=public"
JWT_SECRET="secretkey_para_desarrollo_cambiar_en_produccion"
PORT=3000
FRONTEND_URL="http://localhost:8080" # Usado para configurar el CORS del backend

# Configuración del Frontend
# VITE_API_URL en local puede apuntar al backend expuesto o utilizar el proxy
VITE_API_URL="http://localhost:3000/api"
